* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// font
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');

// var
// $backColor: #008;
// $textWithShadowColor: #9453A6;
// $textColor: #0D0D0D;
$textWithShadowColor: #0D0D0D;
$textColor: #9453A6;
$textSize: 1.3rem;
$headSize: 2em;
$headColor: #8CBF3F;
$headMainColor: #f2cc0f;
$bgcColor: #f2f2f2;
$baseWidth: 100vw;
$basefontText: Roboto;
$basefontHead: Pattaya;

//*Mixing media queries*/
@mixin destop {
    @media (max-width:1600px) {
        @content
    }
}

@mixin tablet {
    @media (max-width:800px) {
        @content
    }
}

@mixin mobile {
    @media (max-width:600px) {
        @content
    }
}


body {
    // background-color: blueviolet;
    background-image: url('img/background.jpg');
    width: 100vw;
}

.btnNew {
    background: #15d798;
    border-radius: 1000px;
    width: 200px;
    height: 50px;
    color: #ec0d0d;
    display: inline-block;
    font: normal bold 26px/50px "Open Sans", sans-serif;
    text-align: center;
    text-shadow: 3px 3px #9306f8;
}

.smallLogo {
    height: 50px;
    width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $basefontHead;
}

.fontHackerU {
    font-family: $basefontText;
}

.bgcHackerU {
    // color: $headColor;
    color: $textColor;
    background-color: $bgcColor ;
}

.shadow {
    text-shadow: 2px 1px 10px $headMainColor;
    color: $textWithShadowColor;
    // text-shadow: 2px 1px 10px $textWithShadowColor;
    // color: $headMainColor;
}

.centerPcRightMobile {
    // d-flex align-content-center justify-content-center
    display: flex;



    @include destop {
        align-items: center;
        align-content: center;
        justify-content: center;
        align-items: center;

    }

    @include tablet {
        align-items: flex-start;
        justify-content: right;
    }

    @include mobile {
        align-items: flex-start;
        justify-content: right;
    }
}