// Import all to main
@import "globalSetup";


.mayor-pic-rounded {
    width: 30vw;
    height: 35vh;
    border-radius: 100%;
    float: left;
    margin-right: 3.5em;
    shape-outside: circle(50%);
}