* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// font
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:ital,wght@1,300&display=swap');

// var
// $backColor: #008;
$navColor: #9453A6;
$textColor: #0D0D0D;
$textSize: 1.3rem;
$headSize: 2em;
$headColor: #8CBF3F;
$baseWidth: 100vw;
$basefontText: Roboto;
$basefontHead: Pattaya;

body {
    // background-color: blueviolet;
    background-image: url('img/background.jpg');
    width: 100vw;

}

.smallLogo {
    height: 50px;
    width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $basefontHead;
}